<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write your words</title>
</head>
<body>

    <form method="post" action="">
        {% csrf_token %}

        {% for field in str2words_form %}
        <div>
            {{field.label}}
        </div>
        <div>
            {{field}}
        </div>
        {% endfor %}
        <button>отправить</button>
    </form>
    {% if words %}
        <h2>Все слова</h2>
        <ul>
            {% for elem in words %}
                <li>{{elem}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if numbers %}
        <h2>Все числа</h2>
        <ul>
            {% for elem in numbers %}
                <li>{{elem}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>