<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
        <a href="/">Главная</a>
        <a href="/time">Время</a>
        <a href="/calc">Калькулятор</a>
        <a href="/history">История</a>
        <a href="/expression"> рандомные вычисления</a>
        <a href="/delete">удалить последнее вычисление</a>
</header>
<body>
    <h1>Курс "Промышленное программирование"</h1>
    <ul>
        <li>Первое число: {{first_num}}</li>
        <li>Второе число: {{second_num}}</li>
        <li>Их сумма равна: {{summa}}</li>
    </ul>
</body>
</html>