{% extends "base.html" %}
{% block content %}
    <div>
        <h4 class="text-danger">{{status}}</h4>
        <h3>Правила примера:</h3>
        <ul>
            <li>Должно быть 7 аргументов (с любыми названиями), 3 из которых знаки + -</li>
            <li>Для плюса(+) напишите в аргументы "a" (без ковычек) или любое слово начинающиеся на "a" для минуса(-) "s" или любое слово начинающиеся на "s" </li>
            <li>пример: ?f=21&o=s&s=-32&z=a&da=654&y=s&ujo=87</li>
            <li>или тот же пример но с другой расстановкой(можно написать сначала числа, а потом знаки между ними): ?f=21&s=-32&da=654&ujo=87&o=s&z=a&y=s</li>
        </ul>
    </div>
{% endblock %}