{% extends "base.html" %}

{% block content %}
    <div class="text-center">
        <h1>История вычислений</h1>
        <table class="table table-dark  table-hover">
            <tr>
                <th scope="col">number</th>
                <th scope="col">operation</th>
                <th scope="col">number</th>
                <th scope="col">operation</th>
                <th scope="col">number</th>
                <th scope="col">operation</th>
                <th scope="col">number</th>
                <th scope="col"> equals</th>
                <th scope="col">result</th>
            </tr>
            {% for item in cals_history %}
                <tr>
                    <th scope="row">{{item.first_number}}</th>
                    <td>{{item.first_operation}}</td>
                    <td>{{item.second_number}}</td>
                    <td>{{item.second_operation}}</td>
                    <td>{{item.third_number}}</td>
                    <td>{{item.third_operation}}</td>
                    <td>{{item.four_number}}</td>
                    <td>=</td>
                    <td>{{item.result}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}